*{
    background: #E5E5E5;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}


  
.logo{
    padding:3%;
}

.inputTexto{
    position: absolute;
    border: none;
    width: 50%;
    color: #0A3871;
    font-size: 1.3em;
    margin-left: 20%;

}

::placeholder{ color:#0A3871;}

.inputTexto:focus {
    outline:none;
}

.mensajeEncriptado{
    position: absolute;
    background: white;
    background-image: url("imagenes/Muneco.png");
    background-repeat: no-repeat;
    background-position:50% 40% ;
    height: 855px;
    width: 350px;
    border:none;
    border-radius: 24px;
    margin-left: 80%;
    margin-top: -6%;
    color:#0A3871;
    text-align: center;
    padding-top: 2%;
    resize: none;
}

.mensajeEncriptado:focus{
    outline: none;
}


.boton-encriptar{
    position: absolute;
    background-color:#0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width:328px;
    top: 85%;
    left: 20%;
}

.boton-encriptar:hover{
    
    transform: scale(1.1);
}



.boton-desencriptar{
    position: absolute;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width:328px;
    top: 85%;
    left: 38%;
}

.boton-desencriptar:hover{
    
    transform: scale(1.1);
}

.copiar{
    position: absolute;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
    top: 85%;
    margin-left: 80.5%;
}

.copiar:hover{
    
    transform: scale(1.1);
}


.info{
    position: absolute;
    top: 81.7%;
    left: 20%;
    

}

.infomacion{
    position: absolute;
    color: #495057;
    font-size: 18px;
    top: 80%;
    left: 22%;
}


